In [28]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import numpy as np

In [29]:
df = pd.read_csv("../data/cleaned_fake_jobs.csv")

In [30]:
print(df.shape)
df.head()

(17880, 2)

                                        cleaned_desc  fraudulent
0  foodafastgrowingjamesbeardawardwinningonlinefo...           0
1  organisedfocusedvibrantawesomedoyouhaveapassio...           0
2  ourclientlocatedinhoustonisactivelyseekinganex...           0
3  thecompanyesrienvironmentalsystemsresearchinst...           0
4  jobtitleitemizationreviewmanagerlocationfortwo...           0

In [31]:
df = df.dropna(subset=['cleaned_desc'])

In [32]:
df = df[df['cleaned_desc'].str.strip() != '']

In [33]:
df = df.reset_index(drop=True)

In [34]:
texts = df['cleaned_desc'].tolist()
labels = df['fraudulent'].tolist()

In [35]:
vectorizer = TfidfVectorizer(max_features=1000)
X = vectorizer.fit_transform(texts).toarray()

In [36]:
X_padded = pad_sequences(X, maxlen=250, padding='post', truncating='post')

In [ ]:
y = np.array(labels)

In [38]:
assert X_padded.shape[0] == y.shape[0], f"Mismatch: X={X_padded.shape}, y={y.shape}"

In [39]:
np.save("../data/abacus_features.npy", X_padded)
np.save("../data/abacus_labels.npy", y)

print(" Saved ABACUS input matrix and labels.")

 Saved ABACUS input matrix and labels.

In [40]:
print("ABACUS matrix and labels saved with matching shapes:", X_padded.shape, y.shape)

ABACUS matrix and labels saved with matching shapes: (17878, 250) (17878,)